
<h4 class="vs-title">Objectives</h4>

<div class="vi-btns">
	<input hidden type='file' #obtn accept=".xlsx" (change)="uploadObjectiveFile($event)">
	<button
		mat-raised-button
		color="primary"
		(click)="obtn.click()"
	>Importer les objectives</button>
	
	<mat-form-field>
		<mat-select [disabled]="!warehouseList.length" (selectionChange)="selectWarehouse($event)"  placeholder="dépot">
			<mat-option *ngFor="let warehouse of warehouseList" [value]="warehouse">
				{{warehouse}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field>
		<mat-select [disabled]="!selectedWarehouse" (selectionChange)="showObjectives($event)"  placeholder="Choisir option">
			<mat-option *ngFor="let op of displayOptions" [value]="op.id">
				{{op.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	
	<button
		mat-raised-button
		class="import-config"
		color="primary"
		(click)="saveObjectives()"
		[disabled]="!selectedWarehouse"
	>Sauvegarder</button>
</div>

<objectives-details
	*ngIf="(objectivesSubj | async)?.products.length && tab[0]"
	[products] = "objectivesSubj | async"
></objectives-details>

<display-products
	*ngIf="(objectivesSubj | async)?.products.length && tab[1]"
	[products] = "(objectivesSubj | async).products"
	[category] = "category"
	[type] = "'objective'"
></display-products>