<h4 class="vs-title">Réalisation</h4>

<div class="vi-btns">
	<input hidden  type='file' #dmsbtn accept=".xlsx" (change)="uploadFile($event)">
	<button mat-raised-button color="primary" (click)="dmsbtn.click()">Import Document Listing</button>
	
	<mat-form-field>
		<mat-select [disabled]="!data.length" (selectionChange)="display($event)"  placeholder="Choisir ...">
			<mat-option *ngFor="let op of displayOptions" [value]="op.id">
				{{op.name}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<button
		class="import-config"
		*ngIf="isAdmin"
		[disabled]="!data.length"
		mat-raised-button
		color="primary"
		(click)="downloadRistourne()"
	>Imprimer les ristournes</button>

</div>

<realisation-prod
	*ngIf="(displayAchByProd | async)?.length && displayTab[0]"
	[products]="displayAchByProd | async"
></realisation-prod>

<display-products
	*ngIf="(displayAchByProd | async)?.length && displayTab[1]"
	[products]="displayAchByProd | async"
	[type]="'Achivement'"
	[category] = "category"
></display-products>

<monitoring-by-product
	*ngIf="(monitorAchByProd | async)?.length && displayTab[2]"
	[products]="monitorAchByProd | async"
></monitoring-by-product>

<monitoring-by-category
	*ngIf="(monitorAchByProd | async)?.length && displayTab[3]"
	[products]="monitorAchByProd | async"
	[category] = "category"
>
</monitoring-by-category>
<display-by-vendor
	*ngIf="(displayAchByProd | async)?.length && displayTab[5]"
	[products]="displayAchByProd | async"
>
</display-by-vendor>

<avg-sku
	*ngIf="avgSKU.length && displayTab[4]"
	[avgSKU]="avgSKU"
></avg-sku>
