<div class="main-btns">
	<input hidden type='file' #btn accept=".xlsx" (change)="uploadConfigFile($event)">
	<button
		mat-raised-button
		color="primary"
		(click)="btn.click()"
	>Import Config File</button>
	
	<button
		mat-raised-button
		color="primary"
		[routerLink]="['objectives']"
	>Objectives</button>
	
	<button
		mat-raised-button
		color="primary"
		[routerLink]="['achivements']"
	>Suivi Réalisation</button>

	<button
		mat-raised-button
		color="primary"
		[routerLink]="['trade-term']"
	>Trade Term</button>

	<button
		mat-raised-button
		color="primary"
		[routerLink]="['salesman-perfomance']"
	>Salesman Performance</button>
</div>
