
<h3 *ngIf="products.type === 'rejected'">Rejected Products</h3>
<h3 *ngIf="products.type !== 'rejected'">Objectives by Product</h3>

<mat-form-field *ngIf="products.type !== 'rejected'"	>
	<mat-select (selectionChange)="selectCanal($event)"  placeholder="Choose A canal">
		<mat-option *ngFor="let canal of canalType" [value]="canal.id">
			{{canal.name}}
		</mat-option>
	</mat-select>
</mat-form-field>

<table mat-table [dataSource]="tab" class="mat-elevation-z8">

	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> ID  </th>
		<td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name  </th>
		<td mat-cell *matCellDef="let element">{{element.name}} <span *ngIf="products.type === 'rejected'"> ({{element.salesmanType}})</span></td>
	</ng-container>
	
	<ng-container matColumnDef="quantityCS">
		<th mat-header-cell *matHeaderCellDef> Quantity(CS) </th>
		<td [matTooltip]="element.quantityCS" mat-cell *matCellDef="let element"> {{element.quantityCS | floor: 3}} </td>
	</ng-container>

	<ng-container matColumnDef="quantityEA">
			<th mat-header-cell *matHeaderCellDef> Quantity(EA) </th>
			<td [matTooltip]="element.quantityEA" mat-cell *matCellDef="let element"> {{element.quantityEA | floor: 3}} </td>
		</ng-container>

	<ng-container matColumnDef="HT">
		<th mat-header-cell *matHeaderCellDef> HT </th>
		<td [matTooltip]="element.HT" mat-cell  *matCellDef="let element"> {{element.HT | floor: 3 }}</td>
	</ng-container>
	
	<ng-container matColumnDef="TTC">
		<th mat-header-cell *matHeaderCellDef> TTC </th>
		<td [matTooltip]="element.TTC" mat-cell *matCellDef="let element"> {{element.TTC | floor: 3}} </td>
	</ng-container>

	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
