<h4 class="vs-title">Salesman Performance</h4>

<div class="vi-btns">
	<input hidden  type='file' #dmsbtn accept=".xlsx" (change)="uploadFile($event)">
	<button mat-raised-button color="primary" (click)="dmsbtn.click()">Import Salesman Performance</button>
</div>

<table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="data.length">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> ID  </th>
		<td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name  </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
	
	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef> Type </th>
		<td mat-cell  *matCellDef="let element"> {{element.type }}</td>
	</ng-container>
	
	<ng-container matColumnDef="bdd">
		<th mat-header-cell *matHeaderCellDef> BDD </th>
		<td [matTooltip]="element.HT" mat-cell *matCellDef="let element"> {{element.bdd }} </td>
	</ng-container>

	<ng-container matColumnDef="visitedPlan">
		<th mat-header-cell *matHeaderCellDef> visited Plan </th>
		<td mat-cell *matCellDef="let element"> {{element.visitedPlan }} </td>
	</ng-container>

	<ng-container matColumnDef="visitedExtra">
		<th mat-header-cell *matHeaderCellDef> visitedExtra </th>
		<td mat-cell *matCellDef="let element"> {{element.visitedExtra }} </td>
    </ng-container>
    
    <ng-container matColumnDef="HitRateVisited">
		<th mat-header-cell *matHeaderCellDef> HitRateVisited </th>
		<td mat-cell *matCellDef="let element"> {{element.HitRateVisited }}</td>
    </ng-container>
    
    <ng-container matColumnDef="HitRateExtra">
		<th mat-header-cell *matHeaderCellDef> HitRateExtra </th>
		<td mat-cell *matCellDef="let element"> {{element.HitRateExtra }} </td>
    </ng-container>
    
    <ng-container matColumnDef="Itenerary">
		<th mat-header-cell *matHeaderCellDef> Itenerary </th>
		<td mat-cell *matCellDef="let element"> {{element.Itenerary }} </td>
    </ng-container>
    
    <ng-container matColumnDef="VisiteRate">
		<th mat-header-cell *matHeaderCellDef> VisiteRate </th>
		<td mat-cell *matCellDef="let element"> {{element.VisiteRate }} % </td>
    </ng-container>
    
    <ng-container matColumnDef="SuccessRate">
		<th mat-header-cell *matHeaderCellDef> SuccessRate </th>
		<td mat-cell *matCellDef="let element"> {{element.SuccessRate }} % </td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
