<div class="erp-djamel">
	<h3>Bénéfice Sapa</h3>
	<div class="items">
		<input hidden type='file' #erptn accept=".xlsx" (change)="uploadERPFile($event)">
		<button
			mat-raised-button
			color="primary"
			(click)="erptn.click()"
		>Bénéfice Sapa</button>
		<mat-icon matChipRemove svgIcon="cancel" *ngIf="!erpDjamel.length" color="warn" >cancel</mat-icon>
		<mat-icon matChipRemove svgIcon="check" *ngIf="erpDjamel.length" class="available" >check</mat-icon>
		<button
			mat-icon-button
			class="download"
			[disabled] = "!erpDjamel.length"
			(click)="downloaderpDjamel()"
		><mat-icon matChipRemove svgIcon="save" >save</mat-icon></button>

		<button
			mat-icon-button
			*ngIf="data.length"
			class="download-dms"
			(click)="downloadBenefice()"
		><mat-icon matChipRemove svgIcon="save" >save</mat-icon></button>
		<p *ngIf="benificeDMS">Total: {{benificeDMS}}</p>
	</div>
</div>
<div class="ristournes">
	<h3>Les ristournes</h3>
	<div class="items">
		<input hidden  type='file' #dmsbtn accept=".xlsx" (change)="uploadFile($event)">
		<button mat-raised-button color="primary" (click)="dmsbtn.click()">Import Document Listing</button>
	
		<mat-icon matChipRemove svgIcon="cancel" *ngIf="!data.length" color="warn" >cancel</mat-icon>
		<mat-icon matChipRemove svgIcon="check" *ngIf="data.length" class="available" >check</mat-icon>
		<button
		mat-icon-button
		class="download"
		[disabled] = "!data.length"
		(click)="downloadRistourne()"
		><mat-icon matChipRemove svgIcon="save" >save</mat-icon></button>
	</div>
</div>



<!--<div *ngIf="achat.length">
	<table mat-table [dataSource]="achat" class="mat-elevation-z8">
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> ID  </th>
			<td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>
	
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Name  </th>
			<td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>

		<ng-container matColumnDef="quantity">
			<th mat-header-cell *matHeaderCellDef> Quantity(EA) </th>
			<td [matTooltip]="element.quantity" mat-cell *matCellDef="let element"> {{element.quantity }} </td>
		</ng-container>
		
		<ng-container matColumnDef="TTC">
			<th mat-header-cell *matHeaderCellDef> TTC </th>
			<td [matTooltip]="element.priceTTC" mat-cell  *matCellDef="let element"> {{element.priceTTC | floor: 3 }}</td>
		</ng-container>
		
		<ng-container matColumnDef="HT">
			<th mat-header-cell *matHeaderCellDef> HT </th>
			<td [matTooltip]="element.priceHT" mat-cell *matCellDef="let element"> {{element.priceHT | floor: 3}} </td>
		</ng-container>
	
		
			
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>-->

